@model IEnumerable<prjIHealth.ViewModels.CProductViewModel>
@using Microsoft.EntityFrameworkCore
@using prjIHealth.Controllers

@section Styles{
    <style>
        .sort-asc::after {
            content: "↑";
        }
        .sort-desc::after {
            content: "↓";
        }
    </style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/Coach/Banner.jpg" id="bannerTop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2 class="reveal_t1">周邊商城</h2>
                    <div class="breadcrumb__option reveal_t1">
                        <a href="~/Shopping/ShowShoppingMall">Home</a>
                        <span>Shopping</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>商品類別</h4>
                        <ul id="showByCatergory">
                            <li><a href="#" data-id="0" class="categoryItem">所有商品</a></li>
                            <li><a href="#" data-id="1" class="categoryItem">乳清蛋白</a></li>
                            <li><a href="#" data-id="2" class="categoryItem">健康食品</a></li>
                            <li><a href="#" data-id="3" class="categoryItem">運動用品</a></li>
                            <li><a href="#" data-id="4" class="categoryItem">男裝</a></li>
                            <li><a href="#" data-id="5" class="categoryItem">女裝</a></li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>推薦商品</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        @{
                                            IHealthContext dblIHealth = new IHealthContext();
                                            var top3PopularProduct = (from od in dblIHealth.TOrderDetails.Include(od => od.FProduct).ThenInclude(p => p.FCategory).AsEnumerable()
                                                                      where od.FProduct.FCategoryId == 1
                                                                      group od by new
                                                                      {
                                                                          od.FProductId,
                                                                          od.FProduct.FProductName,
                                                                          od.FProduct.FCoverImage,
                                                                          od.FProduct.FUnitprice
                                                                      }
                                                                      into g
                                                                      select new
                                                                      {
                                                                          Key = g.Key,
                                                                          Count = g.Sum(od => od.FQuantity),
                                                                          Photo = g.Key.FCoverImage,
                                                                          UnitPrice = g.Key.FUnitprice
                                                                      }).OrderByDescending(p => p.Count).Take(3).ToList();

                                            foreach (var item in top3PopularProduct)
                                            {
                                                <a href="/Shopping/ShowProductDetail/@item.Key.FProductId" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/@item.Key.FCoverImage" alt="" style="width:110px;height:110px">
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>@item.Key.FProductName</h6>
                                                        <span>@item.Key.FUnitprice.ToString("C0")</span>
                                                    </div>
                                                </a>
                                            }

                                        }
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        @{
                                            top3PopularProduct = (from od in dblIHealth.TOrderDetails.Include(od => od.FProduct).ThenInclude(p => p.FCategory).AsEnumerable()
                                                                  where od.FProduct.FCategoryId == 2
                                                                  group od by new
                                                                  {
                                                                      od.FProductId,
                                                                      od.FProduct.FProductName,
                                                                      od.FProduct.FCoverImage,
                                                                      od.FProduct.FUnitprice
                                                                  }
                                                                      into g
                                                                  select new
                                                                  {
                                                                      Key = g.Key,
                                                                      Count = g.Sum(od => od.FQuantity),
                                                                      Photo = g.Key.FCoverImage,
                                                                      UnitPrice = g.Key.FUnitprice
                                                                  }).OrderByDescending(p => p.Count).Take(3).ToList();

                                            foreach (var item in top3PopularProduct)
                                            {
                                                <a href="/Shopping/ShowProductDetail/@item.Key.FProductId" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/@item.Key.FCoverImage" alt="" style="width:110px;height:110px">
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>@item.Key.FProductName</h6>
                                                        <span>@item.Key.FUnitprice.ToString("C0")</span>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        @{
                                            top3PopularProduct = (from od in dblIHealth.TOrderDetails.Include(od => od.FProduct).ThenInclude(p => p.FCategory).AsEnumerable()
                                                                  where od.FProduct.FCategoryId == 3
                                                                  group od by new
                                                                  {
                                                                      od.FProductId,
                                                                      od.FProduct.FProductName,
                                                                      od.FProduct.FCoverImage,
                                                                      od.FProduct.FUnitprice
                                                                  }
                                                                      into g
                                                                  select new
                                                                  {
                                                                      Key = g.Key,
                                                                      Count = g.Sum(od => od.FQuantity),
                                                                      Photo = g.Key.FCoverImage,
                                                                      UnitPrice = g.Key.FUnitprice
                                                                  }).OrderByDescending(p => p.Count).Take(3).ToList();

                                            foreach (var item in top3PopularProduct)
                                            {
                                                <a href="/Shopping/ShowProductDetail/@item.Key.FProductId" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/@item.Key.FCoverImage" alt="" style="width:110px;height:110px">
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>@item.Key.FProductName</h6>
                                                        <span>@item.Key.FUnitprice.ToString("C0")</span>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        @{
                                            top3PopularProduct = (from od in dblIHealth.TOrderDetails.Include(od => od.FProduct).ThenInclude(p => p.FCategory).AsEnumerable()
                                                                  where od.FProduct.FCategoryId == 4
                                                                  group od by new
                                                                  {
                                                                      od.FProductId,
                                                                      od.FProduct.FProductName,
                                                                      od.FProduct.FCoverImage,
                                                                      od.FProduct.FUnitprice
                                                                  }
                                                                      into g
                                                                  select new
                                                                  {
                                                                      Key = g.Key,
                                                                      Count = g.Sum(od => od.FQuantity),
                                                                      Photo = g.Key.FCoverImage,
                                                                      UnitPrice = g.Key.FUnitprice
                                                                  }).OrderByDescending(p => p.Count).Take(3).ToList();

                                            foreach (var item in top3PopularProduct)
                                            {
                                                <a href="/Shopping/ShowProductDetail/@item.Key.FProductId" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/@item.Key.FCoverImage" alt="" style="width:110px;height:110px">
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>@item.Key.FProductName</h6>
                                                        <span>@item.Key.FUnitprice.ToString("C0")</span>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        @{
                                            top3PopularProduct = (from od in dblIHealth.TOrderDetails.Include(od => od.FProduct).ThenInclude(p => p.FCategory).AsEnumerable()
                                                                  where od.FProduct.FCategoryId == 5
                                                                  group od by new
                                                                  {
                                                                      od.FProductId,
                                                                      od.FProduct.FProductName,
                                                                      od.FProduct.FCoverImage,
                                                                      od.FProduct.FUnitprice
                                                                  }
                                                                      into g
                                                                  select new
                                                                  {
                                                                      Key = g.Key,
                                                                      Count = g.Sum(od => od.FQuantity),
                                                                      Photo = g.Key.FCoverImage,
                                                                      UnitPrice = g.Key.FUnitprice
                                                                  }).OrderByDescending(p => p.Count).Take(3).ToList();

                                            foreach (var item in top3PopularProduct)
                                            {
                                                <a href="/Shopping/ShowProductDetail/@item.Key.FProductId" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/@item.Key.FCoverImage" alt="" style="width:110px;height:110px">
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>@item.Key.FProductName</h6>
                                                        <span>@item.Key.FUnitprice.ToString("C0")</span>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="hero__search">
                    <button type="button" class="hero__search__form site-btn sort" data-sort="" style="width:20%">按價格排序</button>
                    <div class="hero__search__form " style="width:57.3%" id="search">
                        <form method="post">
                            <input style="width:392.1px;height:46px" id="txtKeyword" name="txtKeyword" type="text">
                            <button type="button" class="site-btn" id="btnSearch" style="float:right">搜尋</button>
                        </form>
                    </div>
                </div>
                <div class="row" id="showProduct">

                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script>
        let option = {
            categoryID: 0,
            sort: "",
            url: "",
            page: 1,
            txtKeyword:""
        }

        //顯示商品
        AllProducts(option);        
        function AllProducts(option) {
            let url = "@Url.Content("~/Shopping/GetProduct/")" + (option.categoryID == 0 ? "" : option.categoryID);
            $.post(url,option, function (datas) {
                let htmlShowProduct = "";
                $.each(datas, function (idx, product) {
                    htmlShowProduct += `<div class="col-lg-4 col-md-6 col-sm-6" ><div id="header" style="cursor:pointer;">
                                <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/img/product/${product.fCoverImage}" style="background-image: url(&quot;/img/product/${product.fCoverImage}&quot;);">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#" data-id="${product.fProductId}" class="addToTrack"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#" data-id="${product.fProductId}" class="addToCart"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 id="showProductDetail" data-id="${product.fProductId}">${product.fProductName}</h6>
                                    <h5>$${product.fUnitprice}</h5>
                                </div>
                            </div>
                            </div></div>`
                })
                $("#showProduct").html(htmlShowProduct);
            })
        }

        //按價格排序
        //class改變箭頭方向
        //以data-sort的值傳去後端做IF/ELSE判斷
        $(".sort").on("click", sorting);
        function sorting() {
            //以data-sort當flag
            let dataSort = $(".sort").attr("data-sort");
            //每次執行function清空sort以外class
            $(".sort").removeClass("sort-asc sort-desc");
            if (dataSort == null || dataSort == "") {
                dataSort = "asc";
                $(".sort").addClass("sort-asc");
                $(".sort").attr("data-sort", dataSort);
            }
            else if (dataSort == "desc") {
                dataSort = "asc";//改變旗標
                $(".sort").addClass("sort-asc");
                $(".sort").attr("data-sort", dataSort);
            }
            else {
                dataSort = "desc";
                $(".sort").addClass("sort-desc");
                $(".sort").attr("data-sort", dataSort);
            }
            option.sort = dataSort;
            AllProducts(option);
        }

        //以類別分類各產品
        $("#showByCatergory").find(".categoryItem").click(function (event) {
            event.preventDefault();
            id = $(this).attr("data-id");
            console.log(this);
            option.categoryID = id;
            AllProducts(option);
        })

         //以輸入文字搜產品
        $("#btnSearch").click(function () {
            let keyword = $("#txtKeyword").val();
            option.txtKeyword = keyword;
            AllProducts(option);
        })
           
        showProduct();
        //在商城主頁執行所有function
        function showProduct() {
            option.url = "@Url.Content("~/Shopping/ShowProduct")";
            AllProducts(option);
                //按品名會彈出相對應商品明細
                $("#showProduct").delegate("#showProductDetail", "click", function () {
                    id = $(this).attr("data-id");
                    location.href = `/Shopping/ShowProductDetail/${id}`;
                    showProductDetail(id);
                })
                async function showProductDetail(id) {
                    var data = {};
                    data.FProductId = id;
                    data.FProductName = 1;
                    $.ajax({ type: "POST", url: "@Url.Action("ShowProductDetail")",data:data });
                }

                //按心心會加入追蹤清單
                $("#showProduct").delegate(".addToTrack", "click", function (event) {
                    event.preventDefault();
                    id = $(this).attr("data-id");
                    if (@MemberController.userID== 0) {
                        alert("請先登入會員");
                        $("#loginModal").modal("show");
                    }
                    else {
                        alert("已成功加入追蹤清單");
                        addTrack(id);
                    }

                })
                async function addTrack(id) {
                    url = "@Url.Content("~/Shopping/AddToTrack/")" + id;
                    let response = await fetch(url);
                    let datas = await response.json();
                    console.log(datas);
                }

                //按購物車會加入到購物車
                $("#showProduct").delegate(".addToCart", "click", function (event) {
                    event.preventDefault();
                    id = $(this).attr("data-id");
                    if (@MemberController.userID == 0) {
                        alert("請先登入會員");
                        $("#loginModal").modal("show");
                    }
                    else
                    {
                        addCart(id);
                        alert("已成功加入購物車");
                    }
                })
                async function addCart(id) {
                    var data = {};
                    data.txtFid = id;
                    data.txtCount = 1;
                    $.ajax({ type: "POST", url: "@Url.Action("ShowProductDetail")",data:data });
                }

                @*//顯示各類別前3名產品
            function showTop3() {
                MilkTop3();
                function MilkTop3() {
                    let url = "@Url.Content("~/Shopping/ShowTop3Product/1")";
                    $.get(url, function (datas) {
                    let htmlShowTop3 = "";
                        datas.forEach(item => {
                            item.forEach(i => {
                                htmlShowTop3 += `<a href="#" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/${i.photo}" alt=""/>
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>${i.key.fProductName}</h6>
                                                        <span>${i.key.fUnitprice}</span>
                                                    </div>
                                                 </a>`
                            })
                        })
                        $("#catergory1").append(htmlShowTop3);
                    })
                }
                FoodTop3();
                function FoodTop3() {
                    let url = "@Url.Content("~/Shopping/ShowTop3Product/2")";
                    $.get(url, function (datas) {
                    let htmlShowTop3 = "";
                        datas.forEach(item => {
                            item.forEach(i => {
                                htmlShowTop3 += `<a href="#" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/${i.photo}" alt=""/>
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>${i.key.fProductName}</h6>
                                                        <span>${i.key.fUnitprice}</span>
                                                    </div>
                                                 </a>`
                            })
                    })
                        $("#Food2").append(htmlShowTop3);
                    })
                }
                //SportTop3();
                function SportTop3() {
                    let url = "@Url.Content("~/Shopping/ShowTop3Product/3")";
                    $.get(url, function (datas) {
                    let htmlShowTop3 = "";
                        datas.forEach(item => {
                            item.forEach(i => {
                                htmlShowTop3 += `<a href="#" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/${i.photo}" alt=""/>
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>${i.key.fProductName}</h6>
                                                        <span>${i.key.fUnitprice}</span>
                                                    </div>
                                                 </a>`
                            })
                    })
                        $("#Sport3").html(htmlShowTop3);
                    })
                }
               /* ManTop3();*/
                function ManTop3() {
                    let url = "@Url.Content("~/Shopping/ShowTop3Product/4")";
                    $.get(url, function (datas) {
                    let htmlShowTop3 = "";
                        datas.forEach(item => {
                            item.forEach(i => {
                                htmlShowTop3 += `<a href="#" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/${i.photo}" alt=""/>
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>${i.key.fProductName}</h6>
                                                        <span>${i.key.fUnitprice}</span>
                                                    </div>
                                                 </a>`
                            })
                    })
                        $("#Man4").html(htmlShowTop3);
                    })
                }
                //WomanTop3();
                function WomanTop3() {
                    let url = "@Url.Content("~/Shopping/ShowTop3Product/5")";
                    $.get(url, function (datas) {
                    let htmlShowTop3 = "";
                        datas.forEach(item => {
                            item.forEach(i => {
                                htmlShowTop3 += `<a href="#" class="latest-product__item">
                                                    <div class="latest-product__item__pic">
                                                        <img src="/img/product/${i.photo}" alt=""/>
                                                    </div>
                                                    <div class="latest-product__item__text">
                                                        <h6>${i.key.fProductName}</h6>
                                                        <span>${i.key.fUnitprice}</span>
                                                    </div>
                                                 </a>`
                            })
                    })
                        $("#Woman5").html(htmlShowTop3);
                    })
                }
            }*@
        }
    </script>
}

