@model IEnumerable<prjIHealth.ViewModels.CProductViewModel>


@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}
@section styles{

}

<h1>商品管理</h1>


<hr />
<div class="container">

    <div class="col-lg-12">
        <div class="shoping__cart__table">

            <table class="table">
                <thead>
                    <tr>
                        <th class="shoping__product col-lg-3" style="text-align: left; margin-left: auto">
                            @Html.DisplayNameFor(model => model.FProductName)
                        </th>
                        <th style="margin-left:auto">
                            @Html.DisplayNameFor(model => model.FCategoryId)
                        </th>
                        <th style="margin-left:auto">
                            @Html.DisplayNameFor(model => model.FUnitprice)
                        </th>
                        <th style="margin-left:auto">
                            @Html.DisplayNameFor(model => model.FDescription)
                        </th>
                        <th style="margin-left:auto">
                            @Html.DisplayNameFor(model => model.FVisible)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="shoping__cart__item" style="margin-left: auto; text-align: left;">
                                <img src="~/img/product/@item.FCoverImage" style="width:30%;height:30%;" /> <span>@Html.DisplayFor(modelItem => item.FProductName)</span>
                            </td>
                            <td style="margin-left:auto">
                                <input type="hidden" value=" @Html.DisplayFor(modelItem => item.FCategoryId)" id="FCategoryId" name="FCategoryId" />
                                @Html.DisplayFor(modelItem => item.FCategoryName.FCategoryName)
                            </td>
                            <td style="margin-left:auto">
                                @Html.DisplayFor(modelItem => item.FUnitprice)
                            </td>
                            <td style="margin-left:auto">
                                @*@Html.DisplayFor(modelItem => item.FDescription)*@
                                @item.FDescription.Substring(0, Math.Min(item.FDescription.Length, 20))
                            </td>
                            <td style="margin-left:auto">
                                @Html.DisplayFor(modelItem => item.FVisible)
                            </td>
                            <td style="margin-left:auto">
                                @Html.ActionLink("修改產品", "ProductEdit", new { id = item.FProductId },
                                 new { @class = "primary-btn cart-btn" })<br />
                                @Html.ActionLink("檢視圖片", "ProductImgList", new { id = item.FProductId },
                                 new { @class = "primary-btn cart-btn" })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-11">
                    <div class="col-lg-2">
                        <a asp-action="ProductCreate" class="primary-btn cart-btn">新增產品</a>
                    </div>
                    <div class="product__pagination" style="text-align:center">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

}

