@model IEnumerable<prjIHealth.ViewModels.CTeachingListViewModel>
@{
    IHealthContext db = new IHealthContext();
}
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /*會員專區*/
        .blog__btn {
            display: inline-block;
            font-size: 14px;
            color: #1c1c1c;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid #b2b2b2;
            padding: 14px 20px 12px;
            border-radius: 25px;
        }

            .blog__btn:visited {
                color: #1c1c1c;
            }

            .blog__btn:hover {
                color: black;
                font-weight: 800;
            }

            .blog__btn:active {
                color: black;
                font-weight: 800;
            }

        .sidebar__item ul li a {
            border: dashed 2px #7fad39;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 1vw;
            margin-right: 8vw;
            margin-bottom: 1vh;
        }

        /*列表*/        
        .btn-success {
            background-color: #7FAD39;
            border: none;
        }

            .btn-success:disabled {
                background-color: gray;
            }

        .btnDone {
            background-color: #40561C;
        }

            .btnDone:hover {
                background-color: #4F6C24;
            }

        .divLink {
            display: flex;
            justify-items: center;
            height: 70px;
        }

        .divOther {
            padding: 0px;
        }

            .divOther span {
                color: #5F822B;
                line-height: 70px;
            }

            .divOther i {
                color: #5F822B;
            }

        .divUrl {
            margin-left: 10px;
            padding: 15px;
            line-height: 40px;
            border: 1px solid #BFD69C;
            border-radius: 20px;
        }

            .divUrl i {
                color: #DFEACE;
            }

            .divUrl a {
                color: #7FAD39;
                text-decoration: none;
                transition: .3s;
            }

                .divUrl a:hover {
                    color: #5F822B;
                }

        .tdBtns {
            text-align: right;
        }

        .selStatus {
            background-color: #343a40;
            color: white;
            font-weight: 700;
            border: none;
        }

        /*排課紀錄*/
        .h5Records {
            color: #7fad39
        }

        .selTime, .selStatus {
            display: inline !important;
        }

        .nice-select {
            display: none !important;
        }
    </style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>會員專區Demo</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>教練專區</h4>
                        <ul>
                            <li><a href="~/Coach/CreateResume">履歷管理</a></li>
                            <li><a href="~/Coach/RecruitmentList">招生紀錄</a></li>
                            <li><a href="~/Coach/TeachingList">教課列表</a></li>
                            <li><a href="~/Coach/CoachCalendar">課程行事曆</a></li>
                        </ul>
                        <br />
                        <a href="~/Home/會員專區ViewDemo" class="blog__btn"><span class="arrow_right"></span>會員專區</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @*※※※會員專區View內容請從此開始※※※*@
                <table class="table reveal_b1">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MemberName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MemberPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FCourseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FAvailableTimeNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FCourseTotal)
                            </th>
                            <th>
                                剩餘
                            </th>
                            <th class="thStatus">
                                <select class="selStatus" id="selStatus">
                                    <option>@Html.DisplayNameFor(model => model.Status)</option>
                                    <option value="55">進行中</option>
                                    <option value="56">已結束</option>
                                </select>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                <tr id="tr_@item.FCourseId">
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MemberName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MemberPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FCourseName)
                                    </td>
                                    <td>
                                        @db.TAvailableTimes.FirstOrDefault(at => at.FAvailableTimeNum == item.FAvailableTimeNum).FAvailableTime
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FCourseTotal)
                                    </td>
                                    @{
                                        int total = (int)item.FCourseTotal;
                                        int done = db.TReservations.Where(r => r.FCourseId == item.FCourseId && r.FStatusNumber == 61).Count();
                                        int remain = total - done;
                                        <td id="remain_@item.FCourseId">
                                            @remain                                           
                                        </td>                                        
                                    }
                                    <td id="status_@item.FCourseId">
                                        @Html.DisplayFor(modelItem => item.Status)                                        
                                    </td>
                                    <td class="tdBtns">
                                        <button class="btn btn-success" data-toggle="modal" data-target="#addModal_@item.FCourseId"><i class="fa-solid fa-eye"></i>&nbsp&nbsp排課紀錄</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="divLink reveal_b2">
                    <div class="divOther"><i class="fa-solid fa-magnifying-glass"></i><span><b>&nbsp;&nbsp;想一覽所有課程？</b></span></div>
                    <div class="divUrl"><i class="fa-solid fa-arrow-right-long"></i><a href="~/Student/ViewCourseCalendar">&nbsp;&nbsp;前往<b>課程行事曆</b></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    foreach (var item in Model)
    {
        <!-- Modal --排課紀錄-->
        <div class="modal fade" id="addModal_@item.FCourseId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h5Records" id="exampleModalLabel"><b>排課紀錄</b><span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm">
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                No.
                                            </th>
                                            <th>
                                                上課日期
                                            </th>
                                            <th>
                                                上課時間
                                            </th>
                                            <th>
                                                排課狀態
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int rCount = 0;
                                            foreach (var r in item.Reservations.Where(r => r.FCourseId == item.FCourseId))
                                            {
                                                rCount++;
                                                <tr>
                                                    <td>
                                                        @rCount
                                                    </td>
                                                    <td>
                                                        @{
                                                            string Year = r.CourseDate.Substring(0, 4);
                                                            string Mon = r.CourseDate.Substring(4, 2);
                                                            string Date = r.CourseDate.Substring(6, 2);
                                                            <input type="date" id="date_@r.FReservationId" value="@Year-@Mon-@Date" disabled />
                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            <select id="sel_@r.FReservationId" class="selTime custom-select" disabled>
                                                                <option value="9">09:00</option>
                                                                <option value="10">10:00</option>
                                                                <option value="11">11:00</option>
                                                                <option value="12">12:00</option>
                                                                <option value="13">13:00</option>
                                                                <option value="14">14:00</option>
                                                                <option value="15">15:00</option>
                                                                <option value="16">16:00</option>
                                                                <option value="17">17:00</option>
                                                                <option value="18">18:00</option>
                                                                <option value="19">19:00</option>
                                                                <option value="20">20:00</option>
                                                                <option value="21">21:00</option>
                                                            </select>
                                                        }
                                                    </td>
                                                    <td id="status_@r.FReservationId">
                                                        @r.Status
                                                    </td>
                                                    <td class="tdBtns">
                                                        <button class="btn btn-success btnEdit" id="edit_@r.FReservationId">
                                                            <i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;變更時間
                                                        </button>
                                                        <button class="btn btn-success btnEdit" id="submit_@r.FReservationId" style="display:none">
                                                            <i class="fa-solid fa-check"></i>&nbsp;&nbsp;完成變更
                                                        </button>
                                                        <button class="btn btn-success btnDone" id="cancel_@r.FReservationId" style="display:none">
                                                            <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;取消
                                                        </button>
                                                        <button class="btn btn-success btnDone" id="done_@r.FReservationId">
                                                            <i class="fa-solid fa-calendar-check"></i>&nbsp;&nbsp;完成
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btnClose" id="btnClose" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@section Scripts{
    @{
        //課程狀態變更
        foreach (var course in Model)
        {           
            foreach (var r in course.Reservations)
            {
                string time = r.CourseTime.Substring(0, 2);
                if (time.StartsWith("0"))
                {
                    time = time.Substring(1, 1);
                }
                <script>
                //顯示排課時間
                $(`#sel_${@r.FReservationId}`).val(`${@time}`);


                if (@r.FStatusNumber== 61) {
                    $(`#done_@r.FReservationId`).hide();
                    $(`#edit_@r.FReservationId`).hide();
                }

                //完成排課
                $(`#done_@r.FReservationId`).click((evt) => {
                    evt.preventDefault();
                    Swal.fire({
                        title: '確認已完成此次課程？',
                        icon: 'question',
                        confirmButtonText: '確定',
                        cancelButtonText: '取消',
                        showCancelButton: true,
                        showCloseButton: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.get("@Url.Content("~/Coach/ReservationDone")", { "id": "@r.FReservationId" },
                                function (response) {
                                    if (response == "Success") {
                                        Swal.fire({
                                            icon: 'success',
                                            title: '已完成'
                                        })
                                        $(`#status_@r.FReservationId`).text("已完成");
                                        $(`#done_@r.FReservationId`).hide();
                                        $(`#edit_@r.FReservationId`).hide();

                                        //剩餘堂數變更
                                        let remain = parseInt($(`#remain_@r.FCourseId`).text()) - 1;
                                        $(`#remain_@r.FCourseId`).text(`${remain}`);
                                        if ($(`#remain_@r.FCourseId`).text() == "0") {
                                            $(`#status_@r.FCourseId`).text("已結束");
                                        }
                                    }
                                })
                        }
                    })
                })

                //開放變更時間
                $(`#edit_@r.FReservationId`).click((evt) => {
                    evt.preventDefault();
                    $(`#date_@r.FReservationId`).prop("disabled", false);
                    $(`#sel_@r.FReservationId`).prop("disabled", false);
                    $(`#edit_@r.FReservationId`).css("display", "none");
                    $(`#cancel_@r.FReservationId`).show();
                    $(`#submit_@r.FReservationId`).show();
                    $(`#done_@r.FReservationId`).css("display", "none");
                })

                //取消
                $(`#cancel_@r.FReservationId`).click((evt) => {
                    evt.preventDefault();
                    $(`#date_@r.FReservationId`).prop("disabled", true);
                    $(`#sel_@r.FReservationId`).prop("disabled", true);
                    $(`#edit_@r.FReservationId`).show();
                    $(`#cancel_@r.FReservationId`).css("display", "none");
                    $(`#submit_@r.FReservationId`).css("display", "none");
                    $(`#done_@r.FReservationId`).show();
                })

                //完成變更
                $(`#submit_@r.FReservationId`).click((evt) => {
                    evt.preventDefault();
                    let date = $(`#date_@r.FReservationId`).val();
                    let time = $(`#sel_@r.FReservationId`).val();
                    $.get("@Url.Content("~/Coach/EditReservation")", { "id": "@r.FReservationId","date":`${date}`,"time":`${time}`},
                                    function (response) {
                                        if (response == "Success") {
                                            Swal.fire({
                                                icon: 'success',
                                                title: '已完成變更'
                                            })
                                            $(`#edit_@r.FReservationId`).prop("disabled", false).show();
                                            $(`#submit_@r.FReservationId`).css("display", "none");
                                            $(`#cancel_@r.FReservationId`).css("display", "none");
                                            $(`#done_@r.FReservationId`).show();
                                            $(`#date_@r.FReservationId`).prop("disabled", true);
                                            $(`#sel_@r.FReservationId`).prop("disabled", true);
                                        }
                                    })
                })
                </script>
            }
        }
    }
<script>
    //篩選課程狀態
    let filter = $("#selStatus");
    filter.change(() => {
        if (filter.val() == "狀態") {
            $("tbody tr").show();
        }
        if (filter.val() == 55) {
            $.getJSON("@Url.Content("~/Coach/GetCourseInProcess")", { "id": "55" },
                function (data) {
                    $.each(data, function (index, course) {
                        $(`#tr_${course}`).show();
                    });
                })
            $.getJSON("@Url.Content("~/Coach/GetCourseDone")", { "id": "56" },
                function (data) {
                    $.each(data, function (index, course) {
                        $(`#tr_${course}`).hide();
                    });
                })
        }
        if (filter.val() == 56) {
             $.getJSON("@Url.Content("~/Coach/GetCourseInProcess")", { "id": "55" },
                function (data) {
                    $.each(data, function (index, course) {
                        $(`#tr_${course}`).hide();
                    });
                })
            $.getJSON("@Url.Content("~/Coach/GetCourseDone")", { "id": "56" },
                function (data) {
                    $.each(data, function (index, course) {
                        $(`#tr_${course}`).show();
                    });
                })
        }        
    })
</script>
}