@model IEnumerable<prjIHealth.ViewModels.CCoachRateViewModel>

@{
    ViewData["Title"] = "iHeath後臺";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}
@section Styles{
    <style>
        .tdRateText {
            max-width: 400px;
            text-align: justify;
        }

        .btn-success {
            background-color: #7FAD39;
            color: white;
        }

            .btn-success:hover {
                background-color: #4F6C24;
                color: white;
            }

        #title {
            font-weight: 800;
            color: #599e32;
            margin-left: 20vw;
            margin-right: 20vw;
        }

/*        body {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }*/
    </style>
}
<h2 id="title">教練評論管理</h2>
<hr />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                No.
            </th>
            <th>
                會員(編號)
            </th>
            <th>
                教練(編號)
            </th>
            <th>
                星等
            </th>
            <th>
                心得內容
            </th>
            <th>
                評價時間
            </th>
            <th>
                公開
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var r in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @r.MemberName (@r.FMemberId)
                    </td>
                    <td>
                        @r.CoachName (@r.FCoachId)
                    </td>
                    <td>
                        @r.FRateStar
                    </td>
                    <td class="tdRateText">
                        @r.FRateText
                    </td>
                    <td>
                        @r.RateDate
                    </td>
                    <td class="tdVisible">
                        @r.Visible
                    </td>
                    <td>
                        <button class="btn btn-success btnVisible">顯示</button>
                        <button class="btn btn-danger btnHidden">隱藏</button>
                        <input type="hidden" value="@r.FRateId" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts{
    <script>

        $(".btnVisible").click(function () {
            theTr = $(this).parent("td").parent("tr");
            $.get("@Url.Content("~/Admin/CoachManage/editVisible")", { flag: 1, FRateId: $(this).parent("td").find("input").val() }, function () {
                Swal.fire(
                    '成功',
                    '您已成功顯示此則評價!',
                    'success'
                )
                theTr.find(".tdVisible").text("是");
            })
        });

        $(".btnHidden").click(function () {
            theTr = $(this).parent("td").parent("tr");
            $.get("@Url.Content("~/Admin/CoachManage/editVisible")", { flag: 0, FRateId: $(this).next("input").val() }, function () {
                Swal.fire(
                    '隱藏',
                    '您已成功隱藏此則評價!',
                    'error'
                )
                theTr.find(".tdVisible").text("否");
            })
        });

    </script>
}