@*@model prjiHealth.Models.TProblem*@
@model IEnumerable<prjiHealth.ViewModels.CProblemViewModel>

@{
    ViewData["Title"] = "iHeath後臺";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";
}
@section Styles{
    <style>
        #title {
            font-weight: 800;
            color: #599e32;
            margin-left: 20vw;
            margin-right: 20vw;
        }
    </style>
}
<h2 id="title">意見回覆</h2>
<hr />
@*<section class="product spad">*@
<div class="container">
    @*<div class="row">
        <div class="col-lg-12">
            <div class="contact__form__title">
                <h2>意見回覆</h2>
            </div>
        </div>
    </div>*@
    @foreach (var item in Model)
    {
        <div class="row">

            <div class="col-4" id="divLeft">
                <form asp-action="Reply">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                            <label asp-for="FProblemId" class="control-label"></label>
                            <input asp-for="FProblemId" class="form-control" />
                            <span asp-validation-for="FProblemId" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label">問題時間</label>
                        <input class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.FProblemTime)" />
                        @*<span asp-validation-for="FProblemTime" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">類別</label>
                        <input class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.FProblemCategory.FProblemCategory)" />
                        @*<span asp-validation-for="FProblemCategoryId" class="text-danger"></span>*@
                    </div>

                    @*<div class="form-group">
                            <label asp-for="FFilePath" class="control-label"></label>
                            <input asp-for="FFilePath" class="form-control" />
                            <span asp-validation-for="FFilePath" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label">會員編號</label>
                        <input class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.FMemberId)" />
                        @*<span asp-validation-for="FMemberId" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">訂單編號</label>
                        <input class="form-control" readonly="readonly" value="@Html.DisplayFor(modelItem => item.FOrderId)" />
                        @*<span asp-validation-for="FOrderId" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.FEmail)" />
                        @*<span asp-validation-for="FEmail" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label class="control-label">連絡電話</label>
                        <input class="form-control" value="@Html.DisplayFor(modelItem => item.FContactPhone)" />
                        @*<span asp-validation-for="FContactPhone" class="text-danger"></span>*@
                    </div>

                    @*<div class="form-group">
                            <label asp-for="FPicturePath" class="control-label"></label>
                            <input asp-for="FPicturePath" class="form-control" />
                            <span asp-validation-for="FPicturePath" class="text-danger"></span>
                        </div>*@

                </form>

            </div>
            <div class="col-8">
                <label class="control-label">問題內容</label>
                <div class="form-group">
                    <textarea readonly="readonly" style="resize: none; width: 100%; height: 220px ">@Html.DisplayFor(modelItem => item.FProblemContent)</textarea>
                    @*<span asp-validation-for="FProblemContent" class="text-danger"></span>*@
                </div>
                <form asp-action="Reply">
                    <div class="form-group">
                        <textarea placeholder="在此回覆內容" id="FReplyContent" style="resize: none; width: 100%; height: 220px" name="FReplyContent"></textarea>
                    </div>
                    <div class="col-lg-6 col-md-6" style="float:right">
                        <label class="control-label">狀態</label>
                        <select name="stype" id="stype" class="custom-select">
                            <option value="999" disabled selected hidden>(原狀態)@Html.DisplayFor(modelItem => item.Status.FStatus)</option>
                            <option value="未處理">未處理</option>
                            <option value="處理中">處理中</option>
                            <option value="已完成">已完成</option>
                        </select>
                        @*<span asp-validation-for="FStatusId" class="text-danger"></span>*@
                    </div>
                    <div class="col-lg-6 col-md-6" style="float:right">
                        <label class="control-label">回覆方式</label>
                        <select name="rtype" id="rtype" class="custom-select">
                            <option value="999" disabled selected hidden>請選擇回覆方式</option>
                            <option value="Email">Email</option>
                            <option value="電話聯絡">電話聯絡</option>
                        </select>
                        @*<span asp-validation-for="FStatusId" class="text-danger"></span>*@
                    </div>

                    @*隱藏寫入資料庫不可NULL欄位，時間，處理狀態，會員ID，問題類別
                        會員ID之後應改用session傳遞
                    *@
                    <div id="AddFStatusNumber"></div>
                    <div id="AddFReplyType"></div>
                    <input type="hidden" value=@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss") name="FReplyTime" id="FReplyTime" />
                    <input type="hidden" value=1 name="FReplierId" id="FReplierId" />
                    <input type="hidden" value=@Html.DisplayFor(modelItem => item.FProblemId) name="FProblemId" id="FProblemId" />
                    <div class="col-lg-12 text-center">
                        <input type="submit" value="回覆儲存" class="site-btn" style="float: right; margin-top: 20px" />

                        <input type="button" value="讀取附件" class="site-btn" style="float: right; margin-right: 10px; margin-top: 20px" />

                        <input type="button" value="DEMO" class="site-btn" style="float: right; margin-right: 10px;margin-top:20px" />
                    </div>
                </form>
            </div>

        </div>
        <div class="blog__item__text">
            <a asp-action="ProblemReplyList" class="blog__btn">返回問題回覆<span class="arrow_right"></span></a>
        </div>
    }
</div>
@*</section>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        let FStatusNumber = 0;
        var input = '';
        function SelectedFStatusNumber() {          /*判斷所選類別對應的Number*/
            $('#AddFStatusNumber>input').remove();  /*避免重複點擊持續增加*/
            if ($('#stype').val() == "未處理")
                FStatusNumber = 80;
            if ($('#stype').val() == "處理中")
                FStatusNumber = 81;
            if ($('#stype').val() == "已完成")
                FStatusNumber = 82;
            input = `<input type="hidden" asp-for="FStatusNumber" id="FStatusNumber" value="${FStatusNumber}" name="FStatusNumber" />`
            $('#AddFStatusNumber').append(input)   /*change事件發生時才產生存放資料的input*/
        };
        $('#stype').on("change", SelectedFStatusNumber) /*選擇類別時會產生寫入資料庫所需的FStatusNumber*/
        let FReplyType = '';
        var rtinpt = '';
        function SelectedFReplyType() {          /*判斷所選內容*/
            $('#AddFReplyType>input').remove();  /*避免重複點擊持續增加*/
            if ($('#rtype').val() == "Email")
                FReplyType = "Email";
            if ($('#rtype').val() == "電話聯絡")
                FReplyType = "電話聯絡";
            input = `<input type="hidden" id="FReplyType" value="${FReplyType}" name="FReplyType" />`
            $('#AddFReplyType').append(input)   /*change事件發生時才產生存放資料的input*/
        };
        $('#rtype').on("change", SelectedFReplyType) /*選擇類別時會產生寫入資料庫所需的FReplyType*/
    </script>

}
