@*@model IEnumerable<prjiHealth.Models.TCoachContact>*@


@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .divTopic1 {
            margin-bottom: 10px;
        }
        .divTopic2 {
            margin-top:50px;
            margin-bottom: 10px;
        }

        .divBar1 {
            width: 200px;
            height: 3px;
            margin-left: 20px;
            margin-bottom: 30px;
            background-color: #7FAD39;
        }
        .divBar2 {
            width: 200px;
            height: 3px;
            margin-left: 30px;
            margin-bottom: 40px;
            background-color: #7FAD39;
        }
        .divCards {
            padding:0px 20px;
            display: flex;
        }
       
        .divCard {
            margin: 20px;
            transition:.3s;
            width:22rem;
        }
            .divCard:hover {
                border-color: seagreen;
                box-shadow: 2px 2px 5px lightgray;
            }

        .divCandImg {
            padding: 20px 10px;
        }  
        .divCandImg img{
            width:160px;
            height:180px;
        }
        .divName {
            padding: 0px;
            margin-bottom: 15px;
            text-align: center;
        }

            .divName > h5 {
                margin: 0px;
                font-weight: 700;
                font-size: 26px;
            }

        .divDeleteCand {
            text-align: center;
            margin-bottom: 20px;
            padding: 0px;
        }
        .btn-dark {
            background-color: #7FAD39;
            border:none;
        }
            .btn-dark:hover {
                background-color: #4F6C24;
                border: none;
            }
        .divLink {
            display: flex;
            justify-items: center;
            margin-top: 20px;
            margin-left: 30px;
            height: 70px;
        }
        .divOther {
            padding: 0px;
        }
            .divOther span {
                color: #7F965C;
                line-height: 70px;
            }
            .divOther i {
                color: #7F965C;
            }
        .divUrl {
            margin-left: 10px;
            padding: 15px;
            line-height: 40px;
            border: 1px solid #BFD69C;
            border-radius: 20px;
        }
            .divUrl a {
                color: #7FAD39;
                text-decoration:none;
                transition:.3s;
            }
            .divUrl i {
                color: #DFEACE;
            }
                .divUrl a:hover {
                    color: #5F822B;
                }
        /*聯繫紀錄*/
        .table {
            table-layout: fixed;
            word-break: break-all;
        }

        .thNo {
            width: 8%;
        }

        .thName {
            width: 15%;
        }

        .thPhone {
            width: 25%;
        }

        .thEmail {
            width: 42%;
        }

        .thTime {
            width: 30%;
        }

        .btnView {
            border: none;
            background-color: #DFEACE;
            border-radius: 5px;
            height: 36px;
            vertical-align: bottom;
        }

            .btnView:hover {
                background-color: #C3CDB4;
            }

        .hiddenRow {
            padding: 0 !important;
        }

        /*.tdBtns {
            width: 10%;
            text-align: right;
        }*/

        .btn-light {
            background-color: #B0B0AD;
            color: white;
            border: none;
            transition: .3s;
        }
            .btn-light:hover {
                background-color: dimgray;
                color: white;
                border: none;
            }

        .btn-secondary {
            background-color: #A9B6A8;
            border: none;
        }
    </style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>會員專區Demo</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>會員專區</h4>
                        <ul>
                            <li><a href="#">個人資料</a></li>
                            <li><a href="#">訂單查詢</a></li>
                            <li><a href="#">飲食日誌</a></li>
                            <li><a href="#">客服記錄</a></li>
                        </ul>
                        <br />
                        <br />
                        <br />
                        <h4>預約平台</h4>
                        <ul>
                            <li><a href="../Coach/ManageResume">履歷管理</a></li>
                            <li><a href="../Coach/ContactList">教練連繫記錄</a></li>
                            <li><a href="../Coach/CourseList">課程列表</a></li>
                            <li><a href="../Coach/ViewCourseCalendar">課程行事曆</a></li>
                            <li><a href="../Coach/CandidateList">候選教練</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @*※※※會員專區View內容請從此開始※※※*@
                <div>
                    <div>
                        <div class="divTopic1 reveal_t1"><h3><b>候選教練</b></h3></div>
                        <div class="divBar1 reveal_r1"></div>
                    </div>
                    <div class="row divCards">
                        <div class="card col-3 divCard reveal_b1">
                            <div class="divCandImg">
                                <a href="../Coach/ViewCoachDetails">
                                    <img src="~/img/Coach/coachImage/May.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body divName">
                                <h5 class="card-title">May</h5>
                            </div>
                            <div class="card-body divDeleteCand">
                                @Html.ActionLink("移除候選", "Delete", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('確定移除候選？')", @class = "btn btn-dark" })
                                @*<a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                        <div class="card col-3 divCard reveal_b1">
                            <div class="divCandImg">
                                <a href="../Coach/ViewCoachDetails">
                                    <img src="~/img/Coach/coachImage/Alisa.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body divName">
                                <h5 class="card-title">Alisa</h5>
                            </div>
                            <div class="card-body divDeleteCand">
                                @Html.ActionLink("移除候選", "Delete", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('確定移除候選？')", @class = "btn btn-dark" })
                                @*<a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                        <div class="card col-3 divCard reveal_b1">
                            <div class="divCandImg">
                                <a href="../Coach/ViewCoachDetails">
                                    <img src="~/img/Coach/coachImage/Zac.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body divName">
                                <h5 class="card-title">Zac</h5>
                            </div>
                            <div class="card-body divDeleteCand">
                                @Html.ActionLink("移除候選", "Delete", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('確定移除候選？')", @class = "btn btn-dark" })
                                @*<a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                        <div class="card col-3 divCard reveal_b1">
                            <div class="divCandImg">
                                <a href="../Coach/ViewCoachDetails">
                                    <img src="~/img/Coach/coachImage/Jessica.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body divName">
                                <h5 class="card-title">Jessica</h5>
                            </div>
                            <div class="card-body divDeleteCand">
                                @Html.ActionLink("移除候選", "Delete", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('確定移除候選？')", @class = "btn btn-dark" })
                                @*<a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                        <div class="card col-3 divCard reveal_b1">
                            <div class="divCandImg">
                                <a href="../Coach/ViewCoachDetails">
                                    <img src="~/img/Coach/coachImage/Peeta.jpg" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body divName">
                                <h5 class="card-title">Peeta</h5>
                            </div>
                            <div class="card-body divDeleteCand">
                                @Html.ActionLink("移除候選", "Delete", new { /* id=item.PrimaryKey */ }, new { onclick = "return confirm('確定移除候選？')", @class = "btn btn-dark" })
                                @*<a href="#" class="card-link">Another link</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="reveal_b1 divLink">
                        <div class="divOther"><i class="fa-solid fa-magnifying-glass"></i><span><b>&nbsp;&nbsp;想多看看其他教練？</b></span></div>
                        <div class="divUrl"><i class="fa-solid fa-arrow-right-long"></i><a href="~/Student/CoachMainPage">&nbsp;&nbsp;前往<b>私人教練專區</b></a></div>
                    </div>
                    <div>
                        <div class="divTopic2 reveal_t1"><h3><b>通知發送紀錄</b></h3></div>
                        <div class="divBar2 reveal_r1"></div>
                        <table class="table reveal_b1">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="thNo">
                                        No.
                                    </th>
                                    <th class="thName">
                                        @*@Html.DisplayNameFor(model => model.FCoachId)*@
                                        教練姓名
                                    </th>
                                    <th class="thPhone">
                                        @*@Html.DisplayNameFor(model => model.FCoachId)*@
                                        聯絡電話
                                    </th>
                                    <th class="thEmail">
                                        @*@Html.DisplayNameFor(model => model.FCoachId)*@
                                        聯絡E-mail
                                    </th>
                                    <th class="thTime">
                                        @*@Html.DisplayNameFor(model => model.FContactDate)*@
                                        發送時間
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    //int count = 0;
                                    //foreach (var item in Model)
                                    //{
                                    //    count++;
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                            May
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            0988888888
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            coach1@gmail.com
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            2022-07-09 23:27:04
                                        </td>
                                        @*<td class="tdBtns">
                                <button class="btn btn-light">取消</button>
                            </td>*@
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                            Jessica
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            0968168168
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            coach2@gmail.com
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            2022-06-20 17:54:15
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                            Alisa
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            0977777777
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            coach3@gmail.com
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            2022-06-28 17:54:15
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                            Peeta
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            0999090909
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            coach4@gmail.com
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                            2022-07-08 17:54:15
                                        </td>
                                    </tr>
                                }
                                @*}*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

}







