@model List<prjIHealth.ViewModels.CCoachViewModel>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .divSearch {
        display: flex;
        justify-content: center;
        padding: 0px 20px;
    }

    .divSelCity {
        padding-left: 10px;
        text-align: right;
    }

        .divSelCity > div {
            width: 180px;
        }

    #selCity{
        display:inline !important;
    }
    .nice-select{
        display:none;
    }
    .divKeyword {
        display: flex;
    }

    .divSubmit {
        height: 38px;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .hero__search__form, .divCoachList {
        width: 100%;
    }       
    .filter{
        margin:30px 0px;
    }    
    .divCoachCount {
        text-align: right;
    }
    .divCoachCard {
        display: flex;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;
        border: 2px solid lightgray;
        box-shadow: 2px 2px 5px lightgray;
    }
    .imgCoach {
        border-radius: 10px;
        border: 3px solid white;
        width: 180px;
        height: 200px;
        transition: .3s;
    }
        .imgCoach:hover {            
            border: 3px solid gray;
        }
    .divCoachInfo{
        padding:20px;
    }
    .imgIcon {
        height: 20px;
    }
    .li{
        margin:5px 0px;
    }
    .liCoachName {
        margin-bottom: 10px;
    }
    .liSlogan{
        margin-top:18px;
    }    
    .liSlogan b{
        font-size:16px;
        line-height:28px;
    }
    .divPage{
        text-align:right;
    }
    .btn-success {
        background-color: #7fad39;
        border:none;
    }
    .btn-light {
        background-color: #4F6C24;
        color: white;
    }
        .btn-light:hover {
            background-color: #304115;
            color: white;
        }      
    .inKeyword {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    .btnSearch {
        height: 38px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    .divFilter{
        padding-right:40px;
    }
    .divfilterTopic {
        
        margin-bottom:15px;
    }
        .divfilterTopic b {
            color: #7fad39;
        }

    .keyTopic{
        margin-bottom:10px;
        padding:10px 0px;
        border-bottom:1px solid lightgray;
    }
    .filterCard{
        margin-bottom:25px;
    }
    #btnSubmit {
        display: block;
        width: 100%;
        border-color: #7fad39;
    }
    .skillCount {
        font-weight: 600;
        color: gray;
    }
</style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/Coach/Banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>私人教練專區</h2>
                    <div class="breadcrumb__option">
                        <a href="~/Student/CoachMainPage">Home</a>
                        <span>Training</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            @*※※※非會員專區的View的內容請從此處開始※※※*@
            <div class="col-lg-3">
                <div class="reveal_l1">
                    <form method="post" name="frmFilter">
                        <div class="divFilter">
                            <div class="divfilterTopic">
                                <h5><b>篩選條件</b></h5>
                            </div>
                            <div class="filterCard">
                                <div class="keyTopic">
                                    <h6><b>地區</b></h6>
                                </div>
                                <div>
                                    <select class="custom-select" id="selCity" name="FCityId">
                                        <option selected disabled>請選擇地區</option>
                                        @{
                                            foreach (var c in Model[0]._context.TCities.ToList())
                                            {
                                                <option value="@c.FCityId" id="@c.FCityId">@c.FCityName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="filterCard">
                                <div class="keyTopic">
                                    <h6><b>教練性別</b></h6>
                                </div>
                                <div>
                                    <input type="checkbox" value="True" name="fGender[]" /><label>&nbsp;男性</label><br />
                                    <input type="checkbox" value="False" name="fGender[]" /><label>&nbsp;女性</label><br />
                                </div>
                            </div>
                            <div class="filterCard">
                                <div class="keyTopic">
                                    <h6><b>專長項目</b></h6>
                                </div>
                                <div>
                                    @{
                                        foreach (var s in Model[0]._context.TSkills.ToList())
                                        {
                                            <input type="checkbox" value="@s.FSkillId" name="fCoachSkill[]" />
                                            <label>&nbsp;@s.FSkillName 
                                                <span class="skillCount">(@Model[0]._context.TCoachSkills.Where(cs=>cs.FSkillId==s.FSkillId).Distinct().Count())</span>
                                            </label><br />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="filterCard">
                                <div class="keyTopic">
                                    <h6><b>可上課時段</b></h6>
                                </div>
                                <div>
                                    @{
                                        foreach (var t in Model[0]._context.TAvailableTimes.ToList())
                                        {
                                            <input type="checkbox" value="@t.FAvailableTimeId" name="fCoachTime[]" /><label>&nbsp;@t.FAvailableTime</label><br />
                                        }
                                    }
                                </div>
                            </div>
                            @*<div class="filterCard">
                                <div class="keyTopic">
                                    <h6><b>價格區間</b></h6>
                                </div>
                                <div class="multi-range-field my-5 pb-5">
                                    <input id="multi7" class="multi-range" type="range"/>
                                </div>
                            </div>*@
                            <div class="form-group filterSubmit">
                                <input type="submit" value="篩選" id="btnSubmit" class="btn btn-success" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="divSearch row">
                    <form class="col-lg-10">
                        <div class="divKeyword">
                            <input type="text" name="txtKeyword" id="ipKeyword" class="form-control inKeyword" placeholder="請輸入關鍵字">
                            <div class="divSubmit">
                                <button type="submit" class="btn btn-success btnSearch" id="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </form>
                    @*<div class="divApply col-lg-2">
                    @Html.ActionLink("重設條件", "CoachList",new { id=0} ,new {  @CityId = null , @Keyword = null}, new { @class = "btn btn-dark" })
                </div>*@
                    <div class="divApply col-lg-2">
                        @Html.ActionLink("成為教練", "CreateResume", "Coach", new { }, new { @class = "btn btn-light" })
                    </div>
                </div>
                <div class="row filter">
                    <div class="col-lg-4 col-md-5">
                        <div class="filter__sort">
                            <span>排序依據</span>
                            <select>
                                <option value="1">預設</option>
                                <option value="2">加入日期新至舊</option>
                                <option value="3">加入日期舊至新</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-4">
                        <div class="filter__found divCoachCount">         
                            <h6>搜尋結果：<span id=""></span>，共  <span>@Model.ToArray().Length</span> 位私人教練</h6>
                        </div>
                    </div>
                </div>
                <div class="divCoachList">
                    @{
                        foreach (var coach in Model)
                        {
                            <div class="divCoachCard row reveal_b1">
                                <label hidden>@coach._coach.FCoachId</label>
                                <label hidden>@coach._context.TMembers.FirstOrDefault(m => m.FMemberId == coach._coach.FMemberId).FGender</label>
                                <div class="col-3">
                                    <a href="/Student/ViewCoachDetails/@coach._coach.FCoachId">
                                        <img src="/img/coach/coachImage/@coach._coach.FCoachImage" class="imgCoach">
                                    </a>                                    
                                </div>
                                <div class="col-9 divCoachInfo">
                                    <ul>
                                        <li style="list-style:none" class="liCoachName"><h3><b>@coach._coach.FCoachName</b></h3></li>
                                        <li style="list-style:none" class="li">
                                            <img src="~/img/Coach/icon/location.png" class="imgIcon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b>
                                            <span>@coach._coach.FCity.FCityName</span>
                                        </li>
                                        <li style="list-style:none" class="li">
                                            <img src="~/img/Coach/icon/skill.png" class="imgIcon" />
                                            <b>&nbsp;&nbsp;&nbsp;專長項目： </b>
                                                @{ 
                                                    string s = "";
                                                    foreach (var c in coach._coach.TCoachSkills)
                                                    {
                                                        string skillName =c.FSkill.FSkillName;
                                                        s += skillName;
                                                        s += "、";
                                                    }
                                                    if (s.Length != 0)
                                                        s = s.Substring(0, s.Length - 1);
                                                    <span class="spSkill">@s</span>
                                                }
                                        </li>
                                        <li style="list-style:none" class="liSlogan"><h5><b>@coach._coach.FSlogan</b></h5></li>
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="product__pagination divPage">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>       
        //const formData = new FormData(document.frmFilter);
        //$("#selCity").change(() => {
        //    //if ($(this).find("input[type=checkbox]:checked").val() != undefined) {
        //    //    //let result = $(this).find("input[type=checkbox]:checked").val();
        //        $.ajax({
        //            url: 'Student/MultiFilter',
        //            type: 'POST',
        //            data: formData,
        //            //dataType: Text,
        //            contentType: false,
        //            cache: false,
        //            processData: false
        //        }).done((data) => {
        //            console.log(data);
        //        })
        //})
       
        //TODO 畫面上保留搜尋條件
        //let city;
        //let keyword;
        //$("#selCity").text(city);
        //$("#ipKeyword").text(keyword);
        //$("#selCity").change(() => {
        //    city = $("#selCity").text();
        //    console.log(city);
        //})
        //$("#ipKeyword").blur(() => {
        //    keyword = $("#ipKeyword").text();
        //    console.log(keyword);
        //})

        @*$.get("@Url.Content("~/Student/GetCurrentCategory")", function (data) {
            console.log(data);
            $(`#Category${data}`).addClass("current").siblings().addClass("orig");
        })*@

        @*$(".ulCategory li a").click(() => {
            $.get("@Url.Content("~/Student/GetCurrentCategory")", function (data) {
            console.log(data);
            $(`#Skill${data}`).addClass("current").siblings().addClass("orig");
        })
        })*@
    </script>
}