@*@model IEnumerable<prjiHealth.Models.TCourse>*@
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .divTopic {
            margin-bottom: 10px;
        }

        .details {
            text-align: right
        }

        .divBar {
            width: 200px;
            height: 3px;
            margin-left: 30px;
            margin-bottom: 50px;
            background-color: #7FAD39;
        }

        .thCount {
            width: 10%;
        }

        .thTime {
            width: 20%;
        }

        .thStatus {
            width: 30%;
        }

        .tbToggle {
            background-color: #EFF1ED;
        }

        .btnView {
            border: none;
            color: white;
            background-color: #7FAD39;
            border-radius: 5px;
            height: 36px;
            vertical-align: bottom;
            transition: .3s;
        }

            .btnView:hover {
                background-color: #5F822B;
                color: white;
            }

        .hiddenRow {
            padding: 0 !important;
        }

        .tdBtns {
            text-align: right;
        }        

        .btn-success {
            background-color: #7FAD39;
            border: none;
        }

        .btn-secondary {
            background-color: #A9B6A8;
            border: none;
        }

        /*評分*/
        .btnRate {
            border: none;
            color: dimgray;
            background-color: #DFEACE;
            border-radius: 5px;
            height: 36px;
            vertical-align: bottom;
            transition: .3s;
        }

            .btnRate:hover {
                background-color: #EFF5E6;
                color: dimgray;
            }            
        .divStarRate{
            margin-bottom:10px;
        }
        .divGuide{
            margin-bottom:15px;
        }       
        .divTextarea {
            margin-top: 10px;
            text-align: left;
        }

        .divStarRate {
            display: flex;
        }

            .divStarRate div span {
                line-height: 30.5px;
                vertical-align: middle;
            }

        .divStars {
            width: 40%;
            text-align: center;
        }

            .divStars > img {
                width: 15%;
            }

        textarea {
            width: 100%;
            height: 100px;
        }

        .divResult, .spCheckWord {
            text-align: center;
            font-size: 14px;
        }

            .divResult > span, .spCheckWord {
                color: slategray;
            }

        .starOrig {
            filter: grayscale(1);
        }

        .starChg {
            filter: grayscale(0);
            transition: .5s;
        }

        .blog__btn {
            display: inline-block;
            font-size: 14px;
            color: #1c1c1c;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: 1px solid #b2b2b2;
            padding: 14px 20px 12px;
            border-radius: 25px;
        }

            .blog__btn:visited {
                color: #1c1c1c;
            }

            .blog__btn:hover {
                color: black;
                font-weight: 800;
            }

            .blog__btn:active {
                color: black;
                font-weight: 800;
            }

        .sidebar__item ul li a {
            border: dashed 2px #7fad39;
            border-top: none;
            border-left: none;
            border-right: none;
            padding-left: 1vw;
            margin-right: 8vw;
            margin-bottom: 1vh;
        }
    </style>
}

@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>會員專區Demo</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>會員專區</h4>
                        <ul>
                            <li><a href="#">個人資料</a></li>
                            <li><a href="~/Diary/DiaryMain">飲食日誌</a></li>
                            <li><a href="~/Member/OrderList">訂單查詢</a></li>
                            <li><a href="~/Student/CandidateList">候選教練</a></li>
                            <li><a href="~/Student/CourseList">課程列表</a></li>
                            <li><a href="~/Student/ViewCourseCalendar">課程行事曆</a></li>
                            <li><a href="~/Problem/CheckReply">客服記錄</a></li>
                        </ul>
                        <br />
                        <a href="~/Coach/ManageResume" class="blog__btn"><span class="arrow_right"></span>教練專區</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @*※※※會員專區View內容請從此開始※※※*@
                <div>
                    <div class="divTopic reveal_t1"><h3><b>課程列表</b></h3></div>
                </div>
                <div class="divBar reveal_r1"></div>
                <table class="table reveal_b1">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FCoachId)*@
                                教練姓名
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FContactDate)*@
                                聯絡電話
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FContactDate)*@
                                總堂數
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FContactDate)*@
                                剩餘堂數
                            </th>
                            <th>
                                @*@Html.DisplayNameFor(model => model.FStatusId)*@
                                課程狀態
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            //int count = 0;
                            //foreach (var item in Model)
                            //{
                            //    count++;
                            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                <td>
                                    1
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                    May
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                    0922222222
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                    16
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FStatusId)*@
                                    13
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FStatusId)*@
                                    課程進行中
                                </td>
                                <td class="tdBtns">
                                    <button class="btnView"><i class="fa-solid fa-eye"></i>&nbsp&nbsp上課紀錄</button>
                                    <button class="btnRate" data-toggle="modal" data-target="#addModal"><i class="fa-solid fa-clipboard-check"></i>&nbsp&nbsp評價教練</button>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="demo1">
                                        <table class="table tbToggle">
                                            <thead>
                                                <tr class="info">
                                                    <th class="thCount">堂數</th>
                                                    <th class="thTime">上課時間</th>
                                                    <th class="thStatus">狀態</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    <td>1</td>
                                                    <td>2022/07/01 16:00</td>
                                                    <td>已完成</td>
                                                </tr>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    <td>2</td>
                                                    <td>2022/07/03 16:00</td>
                                                    <td>已完成</td>
                                                </tr>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    <td>3</td>
                                                    <td>2022/07/10 16:00</td>
                                                    <td>已完成</td>
                                                </tr>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    <td>4</td>
                                                    <td>2022/07/07 16:00</td>
                                                    <td>尚未完成</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </tr>
                            <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                                <td>
                                    2
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                    Zac
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FMember.FMemberName)*@
                                    0934567891
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FContactDate)*@
                                    8
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FStatusId)*@
                                    7
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.FStatusId)*@
                                    課程進行中
                                </td>
                                <td class="tdBtns">
                                    <button class="btnView"><i class="fa-solid fa-eye"></i>&nbsp&nbsp上課紀錄</button>
                                    <button class="btnRate" data-toggle="modal" data-target="#addModal"><i class="fa-solid fa-clipboard-check"></i>&nbsp&nbsp評價教練</button>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="demo2">
                                        <table class="table tbToggle">
                                            <thead>
                                                <tr class="info">
                                                    <th class="thCount">堂數</th>
                                                    <th class="thTime">上課時間</th>
                                                    <th class="thStatus">狀態</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-toggle="collapse" class="accordion-toggle" data-target="#demo10">
                                                    <td>1</td>
                                                    <td>2022/07/06 15:00</td>
                                                    <td>已完成</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                        @*}*@
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">評價教練<span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="divStarRate">
                        <div class="divGuide">
                            <span><b>評分</b></span>
                        </div>
                        <div class="divStars">
                            <img src="~/img/Coach/icon/star.png" />
                            <img src="~/img/Coach/icon/star.png" />
                            <img src="~/img/Coach/icon/star.png" />
                            <img src="~/img/Coach/icon/star.png" />
                            <img src="~/img/Coach/icon/star.png" />
                        </div>
                        <div class="divResult">
                            <span class="spResult">您尚未評分</span>
                        </div>
                    </div>
                    <div>
                        <div class="divGuide">
                            <span class="spGuide"><b>分享你的心得&nbsp;</b></span>
                            <span class="spCheckWord">*限120字</span>
                        </div>
                        <div class="divTextarea">
                            <textarea></textarea>
                        </div>                                       
                    </div>
                    @*<div class="form-group">
                        <label for="MemberId">會員編號</label>
                        <input type="text" class="form-control" id="MemberId" name="MemberId">
                    </div>
                    <div class="form-group">
                        <label for="MemberName">會員姓名</label>
                        <input type="text" class="form-control" id="MemberName" name="MemberName">
                    </div>
                    <div class="form-group">
                        <label for="Count">總堂數</label>
                        <input type="text" class="form-control" id="Count" name="Count">
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                @Html.ActionLink("送出評分", "Create", new { }, new { onclick = "return confirm('確定送出評分？')", @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>
@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FCourseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FMemberId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FCoachId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FRemainingCourse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FStatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FVisible)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCourseId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FMemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FCoachId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FRemainingCourse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FStatusId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FVisible)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
@section Scripts{
    <script>
        //
        //$(".btnRate").click((event) => {
        //    event.stopPropagation();     
        //})

        //星星評分
        var starIndex;
        $(".divStars>img").attr("class", "starOrig");
        $(".divStars>img").on({
            mouseout: mouseOut,
            click: clickStar,
            dblclick: reset
        })
        $(".divStars>img").on("mouseover dblclick", mouseOver);

        function mouseOver() {
            starIndex = $(this).index();
            $(".divStars>img").slice(0, starIndex + 1).attr("class", "starChg");
            $(".spResult").text("評分中...");
        }
        function mouseOut() {
            starIndex = $(this).index();
            $(".divStars>img").slice(0, starIndex + 1).attr("class", "starOrig");
            $(".spResult").text("您尚未評分");
        }
        function clickStar() {
            $(".divStars>img").off("mouseover").off("mouseout");
            $(".spResult").text(`${starIndex + 1}\t顆星`).attr("class", "confirm");
        }
        function reset() {
            starIndex = $(this).index();
            $(".divStars>img").attr("class", "starOrig").mouseover(mouseOver).mouseout(mouseOut);
            $(".spResult").text("您尚未評分").attr("class", "result");
        }
    </script>
}