@model prjIHealth.ViewModels.CCoachViewModel

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>        
        /*左邊上半部*/
        .back {            
            margin-bottom:30px;
        }
            .back a {
                color: #7fad39;
                transition:.2s;
            }
            .back a:hover {
                color: #4F6C24;
            }    
            
        .divLeft{
            text-align:center;
        }
        
        .imgMain {
            border-radius: 50%;
            width:250px;
            height:250px;
        }

        .name {
            margin-bottom: 10px;
        }

        .liAvgRate{
            margin-bottom:20px !important;
            display:flex;
        }

        .intro {
            margin: 0px 60px;
            text-align: justify;
        }
        
        .ulBtns {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }

            .ulBtns > li {
                width: 40%;
                text-align: center;
                margin: 20px;
                border: 2px solid #7fad39;
                border-radius: 10px;
                transition: .3s;
            }

                .ulBtns > li:hover {
                    border: 2px solid #4F6C24;
                }

                .ulBtns > li > a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    transition: .3s;
                    color: #7fad39;
                    font-size:16px;
                }

                    .ulBtns > li > a:hover {
                        color: #4F6C24;
                    }

        /*左邊下半部*/
        .info_details, .rate {
            width: 100%;
            padding: 0px 30px;
        }

        .topic {
            padding: 30px 0px 15px 0px;
        }

        .info_details_list {
            list-style-position: inside;
            list-style: none;
        }

            .info_details_list > li {
                margin: 10px 0px;
            }

            .info_details_list > hr {
                padding-top: 30px;
            }

        .nav-tabs::before, .nav-tabs::after {
            content: none !important;
        }

        .bar {
            display: inline-block;
            width: 160px;
            height: 2px;
            background-color: lightgray;
            line-height: 26px;
        }

        .tabs {
            width: 100%;
        }
        .product__details__tab{
            padding-top:50px;
        }
        .tab_content{
            padding: 0px 40px !important;
        }

        .rate {
            margin-bottom: 30px;
            padding: 0px;
        }

        .divSort{
            text-align:right;
            padding-top:15px;
            padding-right:30px;
        }
        .star {
            height: 18px;
        }
        .starOrig {
            filter: grayscale(1);
        }
        
        /*推薦教練*/
        .divRecContent {
            margin-top: 80px;
            margin-left: 40px;
        }
        .divRecTopic > span {
            margin: 10px 0px;
            font-size: 22px;
        }

        .spTopic2 {
            padding-left: 50px;
        }

        .recBar {
            text-align: right;
            height: 2px;
            margin: 20px 0px;
            margin-left: 55px;
            background-color: #7fad39;
        }

        .divRec {
            margin-bottom: 30px;
            border-radius: 10px;
            padding: 20px 15px 10px 15px;
            border: 2px solid #F1F1F1;
            box-shadow: 1px 1px 5px #F1F1F1;
        }
            .divRec span {
                font-size: 14px;
            }
        .divRecCoach{
            padding:0px;
            padding-right:10px;
        }
        .divRecName h4{
            margin-bottom:10px;
        }
       
        .coach_img {
            border-radius: 50%;
            border: 2px solid white;
            width: 100px;
            height: 100px;
            transition: .3s;
        }

            .coach_img:hover {
                border: 2px solid gray;
            }
        .divRecList{
            padding:10px 30px;
        }       
        .recSkill{
            line-height:30px;
        }
        .icon {
            height: 16px;
        }

        .li {
            margin: 5px 0px;
            font-size:16px;
        }
       
        
    </style>
}
@*banner大圖*@
<section class="breadcrumb-section set-bg" data-setbg="/img/Coach/Banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    @*h2內容請自行更換*@
                    <h2>私人教練專區</h2>
                    <div class="breadcrumb__option">
                        <a href="~/Student/CoachMainPage">Home</a>
                        <span>Training</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            @*※※※非會員專區的View的內容請從此處開始※※※*@
            <div class="col-lg-8">
                <div class="back reveal_t1"><a href="/Student/CoachList">< 返回教練列表</a></div>
                <div class="row divUp">
                    <div class="col-md-5 reveal_t1 divLeft">
                        <img src="~/img/Coach/coachImage/@Model.FCoachImage" class="imgMain" />
                    </div>
                    <div class="col-md-7 divMainCoach reveal_r1">
                        <ul>
                            <li style="list-style:none" class="name"><h3><b>@Model.FCoachName</b></h3></li>
                            <li style="list-style:none" class="li liAvgRate">
                                <span id="avgRate"></span>&nbsp;&nbsp;&nbsp;
                                <img class="star starOrig" src="~/img/coach/icon/star.png" id="star1" />
                                <img class="star starOrig" src="~/img/coach/icon/star.png" id="star2" />
                                <img class="star starOrig" src="~/img/coach/icon/star.png" id="star3" />
                                <img class="star starOrig" src="~/img/coach/icon/star.png" id="star4" />
                                <img class="star starOrig" src="~/img/coach/icon/star.png" id="star5" />&nbsp;&nbsp;&nbsp;
                                <span id="rateCount"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span id="courseCount">@Model.FCourseCount 次成交&nbsp;<i class="fa-regular fa-circle-check"></i></span>
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/location.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;授課地區： </b>
                                <span>@Model.CityName</span>
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/skill.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;專長項目： </b>
                                @{
                                    string s = "";
                                    foreach (var skill in Model.Coach.TCoachSkills)
                                    {
                                        s += skill.FSkill.FSkillName;
                                        s += "、";
                                    }
                                    if (s.Length != 0)
                                    {
                                        s = s.Substring(0, s.Length - 1);
                                    }
                                    <span class="spSkill">@s</span>
                                }
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/time.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;可上課時段： </b>
                                @{
                                    string times = "";
                                    foreach (var t in Model.Coach.TCoachAvailableTimes)
                                    {
                                        times += t.FAvailableTime.FAvailableTime;
                                        times += "、";
                                    }
                                    if (times.Length != 0)
                                        times = times.Substring(0, times.Length - 1);
                                    <span>@times</span>
                                }
                            </li>
                            <li style="list-style:none" class="li">
                                <img src="~/img/Coach/icon/fee.png" class="icon" /><b>&nbsp;&nbsp;&nbsp;參考費用： $</b><span>@Model.FCoachFee/時</span>
                            </li>
                        </ul>
                        <ul class="ServiceProfile__buttonList___27UCn ulBtns">
                            <li>
                                <a href="/Coach/AddToFavorites">
                                    <i class="fa-solid fa-heart"></i>
                                    <b>&nbsp;&nbsp;加入候選</b>
                                </a>
                            </li>
                            <li>
                                <a href="/Coach/ContactCoach">
                                    <i class="fa-solid fa-comment"></i>
                                    <b>&nbsp;&nbsp;我有興趣</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="intro">
                        <div class="topic"><h5><b>教練介紹</b></h5></div>
                        <h7>@Model.FCoachDescription</h7>
                    </div>
                </div>
                <div class="product__details__tab tabs">
                    <ul class="nav nav-tabs tablist" role="tablist">
                        <li><div class="bar"></div></li>
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" aria-selected="false">經歷及相關證照</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rate" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="true">會員評價 <span id="spRate"></span></a>
                        </li>
                        <li><div class="bar"></div></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc tab_content reveal_b1">
                                <div><h5 class="topic"><b>經歷</b></h5></div>
                                <ul class="info_details_list ">
                                    @{
                                        foreach (var exp in Model.Coach.TCoachExperiences)
                                        {
                                            <li><img src="~/img/Coach/icon/experience.png" class="icon" />&nbsp;&nbsp;@exp.FExperience</li>
                                        }
                                    }
                                </ul><br />
                                <div><h5 class="topic"><b>專業證照</b></h5></div>
                                <ul class="info_details_list">
                                    @{
                                        foreach (var lic in Model.Coach.TCoachLicenses)
                                        {
                                            <li><img src="~/img/Coach/icon/license.png" class="icon" />&nbsp;&nbsp;@lic.FLicense</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="filter__sort divSort">
                                <span>排序</span>
                                <select id="selSort">
                                    <option value="0">預設</option>
                                    <option value="1">最新評價</option>
                                    <option value="2">評價高至低</option>
                                    <option value="3">評價低至高</option>
                                </select>
                            </div>
                            <div class="product__details__tab__desc tab_content divRate"></div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <div class="divRecContent">
                            <div class="divRecTopic reveal_t1">
                                <span>在<b>&nbsp;@Model.CityName，&nbsp;</b><br></span>
                                <span class="spTopic2">擁有相同專長的教練 —</span>
                            </div>
                            <div class="recBar reveal_r1"></div>
                            <div class="divCoaches">
                                <div class="row divRec reveal_b1">
                                    <div class="col-5"> @*d1*@
                                        <a href="/Student/ViewCoachDetails">
                                            <img src="~/img/Coach/coachImage/Zac.jpg" class="coach_img">
                                        </a>
                                    </div>
                                    <div class="col-7 divRecCoach"> @*d2*@
                                        <div class="divRecName"><h4><b>Zac</b></h4></div>
                                        <div><span>夏天來臨前，跟著Zac一起打造完美body！</span></div>
                                    </div>
                                    <div class="divRecList"> @*d3*@
                                        <ul class="ulRec">
                                            <li style="list-style:none" class="li">
                                                <img src="~/img/Coach/icon/location.png" class="icon" /><span><b>&nbsp;&nbsp;&nbsp;授課地區： </b>&nbsp;&nbsp;台北市</span>
                                            </li>
                                            <li style="list-style:none" class="li">
                                                <img src="~/img/Coach/icon/skill.png" class="icon" /><span><b>&nbsp;&nbsp;&nbsp;專長項目： </b>&nbsp;&nbsp;肌肥大訓練、備賽指導</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{    
    <script>
        //載入評價(上方+tabpage)
        $(document).ready(function () {
            $.getJSON("@Url.Content("~/Student/GetCoachRate")", { "id": "@Model.FCoachId" },
                function (data) {
                    let countSum=0;
                    $.each(data, function (index, rate) {
                        countSum = countSum + rate.cr.fRateStar;
                    })
                    let avg = countSum / data.length;
                    for (let i = 1; i <= avg; i++) {
                        $(`#star${i}`).removeClass("starOrig");
                    }
                    $("#avgRate").text(`${avg}`);
                    $("#spRate").text(`(${data.length})`);
                    $("#rateCount").text(`(${data.length})`);
                    displayRate(data);
                })
        })

        //評價排序
        $("#selSort").change(() => {
            let opt = $("#selSort option:selected").val();
            if (opt == 0) {
                $.getJSON("@Url.Content("~/Student/GetCoachRate")", { "id": "@Model.FCoachId" },
                    function (data) {
                        displayRate(data);
                    })
            }
            else if (opt == 1) {
                $.getJSON("@Url.Content("~/Student/GetNewRate")", { "id": "@Model.FCoachId" },
                    function (data) {
                        displayRate(data);
                    })
            }
            else if (opt == 2) {
                $.getJSON("@Url.Content("~/Student/GetDesRate")", { "id": "@Model.FCoachId" },
                    function (data) {
                        displayRate(data);
                    })
            }
            else if (opt == 3) {
                $.getJSON("@Url.Content("~/Student/GetAscRate")", { "id": "@Model.FCoachId" },
                    function (data) {
                        displayRate(data);
                    })
            }
        })

        //顯示評價
        function displayRate(data) {
            $(".divRate").empty();
            $.each(data, function (index, item) {
                        $(".divRate").append(`<div class="feedback-item"><p><b>${item.fMemberName}</b></p><div class="rate" id=r${index}></div></div>`);
                        for (let i = 1; i <= 5; i++) {
                            $(`#r${index}`).append(`<img class="star starOrig" id="star${index}${i}"/>`);
                            $(".star").attr("src", "@Url.Content("~/img/coach/icon/star.png")");
                        }
                        for (let i = 1; i <= item.cr.fRateStar; i++) {
                            $(`#star${index}${i}`).removeClass("starOrig");
                        }
                        let year = `${item.cr.fRateDate}`.substr(0, 4);
                        let month = `${item.cr.fRateDate}`.substr(4, 2);
                        let day = `${item.cr.fRateDate}`.substr(6, 2);
                        $(`#r${index}`).after(`<div id="t${index}"><p>${item.cr.fRateText}<p></div>`);
                        $(`#t${index}`).after(`<p class="created">${year}年${month}月${day}日</p><hr>`);
                    })
        }

        //推薦教練
        $(document).ready(function () {
            $.getJSON("@Url.Content("~/Student/GetRecCoach")", { "id": "@Model.FCoachId" },
                function (data) {
                    console.log(data);
                    $(".divCoaches").empty();
                    $.each(data, function (index, item) {
                        $(".divCoaches").append(`<div class="row divRec reveal_b1" id=rec${index}></div>`);
                        $(`#rec${index}`).append(`<div class="col-5" id=d1${index}></div>`).append(`<div class="col-7 divRecCoach" id=d2${index}></div>`)
                            .append(`<div class="divRecList" id=d3${index}></div>`);
                        $(`#d1${index}`).append(`<a href="/Student/ViewCoachDetails/${item.fCoachId}" id=a${index}></a>`);
                        $(`#a${index}`).append(`<img id=img${index} class="coach_img">`);
                        $(`#img${index}`).attr("src", `../../img/Coach/coachImage/${item.fCoachImage}`);

                        $(`#d2${index}`).append(`<div class="divRecName"><h4><b>${item.fCoachName}</b></h4></div>`).append(`<div><span>${item.fSlogan}</span></div>`);
                        $(`#d3${index}`).append(`<ul class="ulRec" id=ul${index}>`);
                        $(`#ul${index}`).append(`<li style="list-style:none" class="li" id=l1${index}></li>`).append(`<li style="list-style:none" class="li" id=l2${index}></li>`);
                        $(`#l1${index}`).append(`<img class="icon location"/><span><b>&nbsp;&nbsp;&nbsp;授課地區： </b>&nbsp;&nbsp;${item.cityName}</span>`);
                        $(".location").attr("src", "@Url.Content("~/img/Coach/icon/location.png")");
                        $(`#l2${index}`).append(`<img class="icon skill" /><span id=skill${index} class="recSkill"><b>&nbsp;&nbsp;&nbsp;專長項目： </b>&nbsp;&nbsp;</span>`)
                        $(".skill").attr("src", "@Url.Content("~/img/Coach/icon/skill.png")");

                        //取得專長項目
                        $.getJSON("@Url.Content("~/Student/GetSkillName")", { "id": `${item.fCoachId}` },
                            function (skills) {  
                                let s = "";
                                $.each(skills, function (index, skill) {                                    
                                    s += skill;
                                    s += "、";
                                })
                                s = s.substr(0, s.length - 1);     
                                $(`#skill${index}`).append(`${s}`);
                            }
                        )                        
                    })
                    })
        })
    </script>
}