@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<prjIHealth.Models.TMember>
@{ ViewData["Title"] = "iHeath後臺";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml"; }
@{
    ViewData["Title"] = "Index";
}


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";

}

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
@section Styles{
    <style>
        #title {
            font-weight: 800;
            color: #599e32;
            margin-left: 20vw;
            margin-right: 20vw;
        }
    </style>
}
<h2 id="title">會員資料管理列表</h2>
<hr />


<p>
    <a asp-action="Create" class="btn btn-primary">會員資料新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.FirstOrDefault().FMemberName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FPassword)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FPicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FRegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FDisabled)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FRemarks)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FAuthority.FAuthorityName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FMemberName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FPassword)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FBirthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPicturePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FRegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FDisabled)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FRemarks)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.FAuthority.FAuthorityName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FMemberId" class="btn btn-success">編輯</a> |
                    <a asp-action="Delete" asp-route-id="@item.FMemberId" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section Scripts{
    <script>
        //$(document).ready(function ()
        //{
        //    $('#example').DataTable();
        //});
    </script>
}


