@model IEnumerable<prjIHealth.Models.TMember>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Admin_Layout.cshtml";

}
<style>
    https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css
    https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css
</style>
<script>
    https://code.jquery.com/jquery-3.5.1.js
    https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js
    https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js
</script>

@section Styles{
    <style>
        #title {
            font-weight: 800;
            color: #599e32;
            margin-left: 20vw;
            margin-right: 20vw;
        }
    </style>
}
<h2 id="title">會員資料管理列表</h2>
<hr />

<p>
    <a asp-action="Create">會員資料新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FMemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FDisabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FRemarks)
            </th>
            <th>
                @*權限名稱*@
                @Html.DisplayNameFor(model => model.FAuthorityId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FMemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FBirthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPicturePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FRegisterDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FDisabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FRemarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FAuthority.FAuthorityName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FMemberId" class="btn btn-success">編輯</a> |
                    <a asp-action="Delete" asp-route-id="@item.FMemberId" class="btn btn-danger">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
}

